<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FridaysForFuture Profile Picture Generator</title>
    <script>
      window.config = {
        API_URL: "<%= htmlWebpackPlugin.options.API_URL_TEMPLATE_VAR %>"
      };
    </script>
  </head>

  <body>
    <div class="container"></div>
    <script type="application/javascript">
      (function() {
        window.ProfilePictureGenerator({
          container: document.querySelector(".container"),
          generator: "client"
        });
      })();
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/service-worker.js")
            .then(registration => {
              console.log("SW registered: ", registration);
            })
            .catch(registrationError => {
              console.log("SW registration failed: ", registrationError);
            });
        });
      }
    </script>
  </body>
</html>
